.Blog ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    background-color: #000;
}

.Blog li {
    display: inline-block;
    margin: 20px 10px;

}

.Blog a {
    text-decoration: none;
    color: #FFF;
    padding: 17px 10px;
    border: 1px solid black;
    transition: .3s ease-out;
    font-family: monospace;
    font-size: 1.3rem;
}

.Blog a:hover, 
.Blog a:active,
.Blog a.active {
    color: #fa923f;
    border-bottom: 3px solid #fa923f;
}
